<h1>查看文章</h1>

<p>
<strong>标题：</strong>
<%= @page.title %>
</p>

<p>
<strong>内容：</strong>
<%= raw @page.content %>
</p>

<p>
<strong>所属分类：</strong>
<% sort = Sort.find_by_id @page.sort_id %>
<%= sort.try :name %>
</p>

<%= link_to '返回所有文章',pages_path %>
